<!DOCTYPE html>
<html>
<head>
  <title>Shoppe</title>
  <%= stylesheet_link_tag    "shoppe/application", media: "all" %>
  <%= javascript_include_tag "shoppe/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
